@use '../abstracts/' as *;
body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	color: $body-text-color;
	line-height: $body-line-height;
	background-color: $body-background-color;
}

a {
	color: $link-color;
}
