@font-face {
    font-family: 'Megistica';
    src: url("C:\\Users\\santi\\AppData\\Local\\Microsoft\\Windows\\Fonts\\Megistica.ttf");
}

@font-face {
    font-family: 'BW Surco';
    src: url("C:\\Users\\santi\\AppData\\Local\\Microsoft\\Windows\\Fonts\\BwSurcoDEMO-BoldItalic.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');