@use 'colors' as *;
@use 'functions' as *;
@use 'sizes' as *;
@use 'typography' as *;

/* Move this to other file*/

// border-radius
$border-radius-1: $size-2;
$border-radius-2: $size-4;
$border-radius-full: 100%;

// shadows
$box-shadow-1: 0 $size-1 $size-4 rgb(0 0 0 / 0.05);
$box-shadow-2: 0 $size-1 $size-4 rgb(0 0 0 / 0.15);
$box-shadow-design-define: 0px 229px 92px rgba(53, 41, 29, 0.01),
	0px 129px 77px rgba(53, 41, 29, 0.05), 0px 57px 57px rgba(53, 41, 29, 0.09),
	0px 14px 31px rgba(53, 41, 29, 0.1), 0px 0px 0px rgba(53, 41, 29, 0.1);

// layout
$grid-gap: $size-5;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(3rem, 10vh, 7rem);
$section-inline-padding: $size-4;

$card-body-padding: $size-8;

$container-min-margin-inline: $size-4;
$container-max-width-narrow: 40rem;
$container-max-width: 64rem;
$container-max-width-wide: 75rem;

//colors

//? contextual color tokens
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-600: var(--color-neutral-600);
$color-neutral-900: var(--color-neutral-900);

$color-accent-400: var(--color-accent-400);

$color-primary-400: var(--color-primary-400);
$color-primary-700: var(--color-primary-700);

$color-text-default: $color-neutral-900;
$color-background-default: $color-neutral-100;
$color-text-interactive-default: $color-primary-400;
$color-text-interactive-hover: $color-primary-700;

$letter-spacing-loose: 0.16em;

//? body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

//? general
$link-color: $body-text-color;
$link-color-hover: $color-primary-700;

$heading-font-family: $font-family-accent;
$heading-color-default: $body-text-color;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: uppercase;

//? buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-700;
$button-font-weight: $font-weight-default;
$button-padding-default: $size-3 $size-6; // 12px 32px
$button-border: rem(4) solid transparent;
$button-border-radius: $size-3;

$button-border-hover: rem(4) solid $color-primary-400;

$button-accent-color: $color-neutral-100;
$button-accent-background: $color-primary-400;
$button-accent-color-hover: $color-neutral-100;
$button-accent-background-hover: $color-primary-700;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-400;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background-hover: $color-primary-700;

//? primary nav

$primary-nav-font-family: $body-font-family;
$primary-nav-font-weight: $font-weight-bold;
$primary-nav-font-size: $body-font-size;
$primary-nav-text-color: $body-text-color;
$primary-nav-background-color: transparent;

//? cards

$card-inline-padding: $size-8 $size-12;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-design-define;

//? badges

$badge-display: grid;
$badge-row-gap: $size-4;
$badge-font-size: $font-size-400;
$badge-text-max-width: 30ch;
$badge-text-align: center;
$badge-align-items: center;

$badge-img-border-radius: $border-radius-full;
$badge-img-background-color: $color-neutral-100;
$badge-img-padding: $size-4;
$badge-img-display: flex;
$badge-img-alignment: center;
$badge-img-box-shadow: $box-shadow-design-define;

$badge-img-background-color-hover: $color-primary-700;
