// colors
$black-primary: #232323;
$black-secondary: #222525;
$yellow-primary: #ffbe0b;
$yellow-secondary: rgb(255, 190, 11, 0.24);
$white-primary: #ffffff;
$brown-primary: #2e2b28;

// font-weights
$font-weights: (
	'regular': 400,
	'medium': 500,
	'semi-bold': 600,
	'bold': 700,
	'extra-bold': 800
);

// font-sizes
$font-sizes: (
	'extra-small': 0.5rem,
	'small': 1.1rem,
	'normal': 1.3rem,
	'medium': 1.5rem,
	'large': 2rem,
	'extra-large': 3rem,
	'gigantic': 4rem,
	'extra-gigantic': 5rem
);
