@use '../abstracts/' as *;

/*TODO
	- [ ] beemo3d SVG need processing lot of white space.
	- [x] Create a utility class for heading (special heading)
	- [ ] Maybe a class to center stuff on content?
	*/

.hero {
	--flow-spacer: 3rem;

	.container {
		block-size: 100vh;
	}

	/* It's a pseudo element that is used to create a background for the hero section with a custom clip-path */
	&::before {
		background-color: $color-primary-400;
		content: '';
		width: 100%;
		height: 100vh;
		display: block;
		position: absolute;
		z-index: -1;
		clip-path: url('#clip');
	}

	.hero__beemo3d {
		transform: translate(8rem, 7rem);

		filter: drop-shadow(342px 342px 194px rgba(0, 0, 0, 0.01))
			drop-shadow(192px 192px 163px rgba(0, 0, 0, 0.05))
			drop-shadow(86px 86px 121px rgba(0, 0, 0, 0.09))
			drop-shadow(21px 21px 67px rgba(0, 0, 0, 0.1))
			drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
	}

	.grid-image {
		grid-column: 2 / 3;
	}
	.grid-item {
		align-self: center;
		inline-size: 100%;

		p {
			max-width: 40ch;
		}
	}
}

.visuals {
	position: relative;
	height: 83vh;
	background-color: $color-neutral-100;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&__app3d {
		height: 100%;
		width: 50%;
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 50%;
		gap: 4rem;

		&-card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			grid-column-gap: 3rem;
		}

		&-h1 {
			font-family: 'Megistica';
			color: $color-accent-400;
			height: auto;
			font-style: normal;
			font-size: 5rem;
		}

		&-tiles {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 2rem;
			height: 43%;
			padding: 0.5rem;

			.tile {
				width: 39%;
				height: 38%;
				background-color: rgba(255, 190, 11, 0.1);
				border-radius: 21px;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				&__icon {
					height: 67%;
					width: 26%;
					background-color: rgba(255, 254, 254, 0.51);
					border-radius: 20px;
					display: flex;
					justify-content: center;
					align-items: center;

					&-img {
						width: 60%;
					}
				}

				&__text {
					height: auto;
					width: 58%;
					font-family: 'Raleway';
					display: flex;
					flex-direction: column;
					gap: 0.4rem;
				}
			}
		}
	}
}

footer {
	position: relative;
	background-color: $color-primary-400;
	padding: 2rem;

	.footerContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.iconContainer {
		margin-bottom: 2rem;
	}

	.footerNavbar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0.5rem;
	}

	.footerNavbarItem {
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		color: $color-accent-400;
	}

	.socialContainer {
		margin: 0.5rem;
		display: flex;
		gap: 2rem;

		& > img {
			height: 100%;
		}
	}

	.DMCA {
		font-family: 'Raleway', sans-serif;

		font-weight: $font-weight-semi-bold;
		margin: 0.5rem;
	}
}
