@use '../abstracts/' as *;
.button {
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	padding: $button-padding-default;
	background-color: $button-primary-background;
	border: $button-border;
	border-radius: $button-border-radius;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: background-color 350ms ease-in-out, border 350ms ease-in-out;

	cursor: pointer;
	max-width: 24rem;

	&:hover {
		background-color: $button-primary-background-hover;
		border: $button-border-hover;
	}
}
