.even-columns {
	display: grid;
	gap: var(--grid-gap, 1.25rem);
	justify-items: center;

	align-items: center;
	@media screen and (min-width: 45em) {
		grid-auto-flow: column;
		grid-template-columns: var(--first-grid-column, 1fr) var(--second-grid-column, 1fr);
	}
}
