@use '../abstracts/' as *;

.grid-auto-fit {
	--min-item-width: 250px;

	display: grid;
	grid-gap: var(--grid-gap, $grid-gap);
	grid-template-columns: repeat(auto-fit, minmax(min(var(--min-item-width), 100%), 1fr));

	// Modify grid-auto-fit class for why-modular section
	#why-modular & {
		--min-item-width: 300px;
		place-items: center;
		@include mq(large) {
			& .badge:nth-child(4) {
				grid-column: 1 / 3;
				grid-row: 2 / 3;
			}
			& .badge:last-child {
				grid-column: 2 / 4;
				grid-row: 2 / 3;
			}
		}
	}
}
